@font-face {  font-family: 'Audiowide';  src: url('./Audiowide-Regular.ttf'); font-display: Fallback; }
@font-face { font-family: 'PingFang'; src: url("./PingFang-SC-Regular.ttf"); font-display: Fallback; }
@font-face { font-family: 'FuturaNowHeadline'; src: url("./FuturaNowHeadline.ttf"); font-display: Fallback; }
