body{
  /* background: linear-gradient(180deg,#382653,#6681c5); */
  background-color: #151515 !important;
  overflow-x: hidden;
}
.aic{
  display: flex;
  align-items: center;
}
.jcsb{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header{
  position: fixed;
  z-index: 1100;
  top: 0;
  left: auto;
  right: 0;
  display: flex;
  align-items: center;
  height: 64px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  font-weight: 400;
  width: 100%;
  /* background-color: rgba(85,71,173,0.6); */
  background-color: #2e2e2e;
  border-radius: 0;
  line-height: 64px;
}
.headerTitle{
  display: flex;
  align-items: center;
  line-height: 64px;
  height: 64px;
}
.headerCon{
  display: flex;
  align-items: center;
  width: 1200px;
  line-height: 64px;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: space-between;
}
.headerImg{

  font-family: Audiowide;
  margin-left: 50px;
  height: 36px;
  /* width: 100px; */
  color: #fff;
  line-height: 36px;
  font-size: 32px;
  cursor:pointer;
}
.headerTitle :nth-child(1){
  margin-left: 0;
}
.headerTitle :nth-child(2){
  background: linear-gradient(to right,red,blue);
  -webkit-background-clip: text;
  color: transparent;
}
.headerDocs{
  /* margin-left: 36px; */
  color: #FFFFFF;
  border-radius: 8px;
  border: 1.5px solid rgba(0,0,0,0.4);
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 8px;
  font-size: 13px;
  min-width: 64px;
  height: 36px;
  line-height: 33px;
}
.headerConnect:hover{
  background-color: #fff;
  color: #000;
  cursor:pointer;
}
.headerDocs:hover{
  cursor:pointer;
}
.ant-popover-inner{
  border-radius: 8px !important;
}
.icon{
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 43px;
  margin-right: 32px;
}
.icon:hover{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.3);
  cursor:pointer;
}
.icon1:hover{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.3);
  cursor:pointer;
}
.headerConnect{
  border-radius: 8px;
  padding: 0 18px;
  height: 36px;
  line-height: 36px;
  min-width: 36px;
  font-weight: 600;
  /* background-color: rgba(252, 124, 197, 0.8); */
  /* border: 1px solid; */
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  color: #fff;
  border-radius: 8px;
  border: 1px solid #fff;
  margin-left: 32px;
  width: 200px;
  overflow: hidden;
  text-overflow:ellipsis;
  text-align: center;
}
.headerMint{
  width: 100px;
  background: linear-gradient(360deg, rgba(255, 171, 46, 0.93) 0%, rgba(255, 255, 255, 0) 90.91%), linear-gradient(90deg, #FF2171 0%, #9D21FF 47.4%, #3321FF 100%);
  border: none;
}
.headerIcon{
  display: flex;
  align-items: center;
  margin: 0 8px;
}
.contentText{
  position: fixed;
  background-color: #fff;
  border-radius: 8px;
  /* left: -10px; */
  top: 64px;
  color: #3A2856;
  font-size: 14px;
  font-family: Inter, sans-serif;
  padding: 10px 16px;
  cursor:pointer;
}
.connectImg{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 18px;

}
.connectText{
  /* margin-top: 36px; */
  display: flex;
  align-items: center;
  height: 90px;
  line-height: 90px;
  padding: 0 32px;
}
.connectText div {
  font-size: 24px;
  font-weight: 700;
  color: rgb(12, 12, 13);
}
.mask{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,.1);
  z-index: 1;
  overflow: hidden;
  /* opacity: 0; */
}
.conenctShow{
  position: fixed;
  top: 20%;
  left: calc(50% - 160px);
  height: 180px;
  width: 320px;
  border-radius: 8px;
  background-color: #fff;
  z-index: 100;
}
.disConnect{
  position: absolute;
  top: 64px;
  left: 0;
  background-color: #fff;
  border-radius: 8px;
  top: 38px;
  left: 32px;
  width: 110px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  cursor:pointer;
}
/* 
  中间
*/
.world{
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto ;
  /* height: 100vh; */
}
.center{
  /* margin-top: -64px; */
  position: relative;
}
.introduction{
  font-weight: 400;
  font-family: Inter,sans-serif;
  color: rgba(255,255,255,1);
  font-size: 1rem;
  line-height: 1.5;
  width: 480px;
  word-wrap: break-word;
}
.info1{

}
.introductionText{
  font-family: Audiowide;
  font-size: 32px;
  margin-bottom: 8px;
}
.info{
  margin: 0 auto;
  width: 1200px;
  margin-bottom: 16px;
  color: #fff;
  text-align: center;
  font-size: 18px;
}
.centerUfo1{
  padding-top: 200px;
}
.centerUfo{
  height: 100vh;
  padding-top: 200px;
}
.textStye{
  margin: 0 auto 0;
  width: 1200px;
  font-size: 46px;
  color: #fff;
  text-align: center;
  font-family: Audiowide;
}
.logoText{
  color: #fff;
  font-size: 170px;
  font-family: Audiowide;
  text-align: center;
  width: 100%;
  user-select: none;
}
.ufo{
  width: 720px;
  height: 720px;
  margin-left:100px ;
}

.logo{
  position: absolute;
  top: 30%;
  left: calc(50% - 600px);
  /* background-color: #fff; */
  width: 1200px;
}
.logo img {
  width: 100%;
}
.centerText{
  margin: 0 auto;
  color: #fff;
  font-weight: bold;
  font-size: 21px;
  width: 60%;
  text-align: center;
  user-select: none;
}
/* 
  脚步的css
*/
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 1200px;
  /* height: 100vh; */
  box-sizing: border-box;
  padding-top: 150px;
}
.footerFir{
  margin: 0;
  font-family: Inter,sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: rgba(255,255,255,0.75);
  text-transform: uppercase;
  opacity: 0.75;
  line-height: 1.57;
  /* margin-top: 8px; */
  margin-bottom: 32px;
  padding-top: 100px;
}
.footerSec{
  margin: 0;
  font-family: Audiowide;
  font-size: 36px;
  font-weight: 600;
  color: #FFFFFF;
  text-shadow: 0px 2px #2e2731;
  line-height: 1.2;
  margin-bottom: 56px;
}
.footerThi{
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerBox{
  position: relative;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerBox img{
  height: 168px;
  width: 168px;
  /* border-radius: 50%; */
  background-color: rgba(0,0,0,.4);
}
.footerContent{
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 168px;
  height: 168px;
  font-weight: 400;
  font-family: Inter,sans-serif;
  color: rgba(255,255,255,1);
  font-size: 12px;
  /* line-height: 1.5; */
  /* margin-bottom: 0.35em; */
  text-align: left;
  word-wrap: break-word;
  word-break: normal;
  background-color: rgba(0, 0, 0, .6);
  padding: 4px;
}
.footerUrl{
  margin: 0;
  font-family: Chalkboard,sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.167;
  text-align: center;
  margin-top: 12px;
}
.footerName{
  margin: 0;
  font-family:Audiowide;
  font-size: 20px;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: rgba(255,255,255,0.75);
  text-transform: uppercase;
  opacity: 0.75;
  line-height: 1.57;
  margin: 16px 0;
  opacity: 1;
}
.footerLast{
  margin: 0 auto;
  width: 1200px;
  text-align: center;
  margin: 50px 0 16px;
  color: #fff;
}
/* 
  菜单显示
*/
.menuShow{
  position: fixed;
  top: 16%;
  left: calc(50% - 250px);
  width: 500px;
  background-color: #fff;
  padding: 24px 24px 22px;
  border-radius: 24px;

}
.menuShowIcon{
  height: 21px;
  /* width: 21px; */
}
.menuShowTitle{
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  margin-left: 5px;
}
.out{
  position: absolute;
  top: -30px;
  left: 1%;
  width: 99%;
  height: 21px;
}
.close{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10000;
  background: white;
  border-radius: 26px;
  padding: 6px;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.closeIcon{
  position: relative;
  top: 7px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}
.closeLine1{
  position: absolute;
  width: 100%;
  border: 1px solid rgb(48, 52, 59);
}
.closeLine2{
  position: absolute;
  width: 100%;
  border: 1px solid rgb(48, 52, 59);
  transform: rotate(90deg);
}

/* deep */
.ant-tabs-large > .ant-tabs-nav .ant-tabs-tab {
  padding: 8px 24px !important;
}
.ant-popover-placement-bottom{
  position: fixed !important; 
}

.walletQrcode{
  color: rgba(60, 66, 82, 0.6);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.1875em;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
.input{
  border: none;
  background: #d4d5d9;
  border-style: none;
  padding: 8px 16px;
  outline: none;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  border-radius: 8px;
  width: calc(100% - 16px);
  margin: 0;
  margin-bottom: 8px;
}
.walletTable{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.walletTableList{
  /* flex: 0.25; */
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  width: 25%;
  justify-self: center;
  flex-direction: column;
  text-decoration: none !important;
}
.walletTableImg{
  border-radius: 10px;
    height: 42px;
    margin: 0;
    width: 42px;
    background-size: cover !important;
    box-shadow: 0 4px 12px 0 rgb(37 41 46 / 25%);
}
.walletTableList div{
  color: #424952;
  font-size: 16;
  text-decoration: none !important;
  padding: 0;
  margin-top: 10px;
  font-weight: 600;
}


/* 
  =======  wow ======
*/
.experience {
  background-color: #151515;
  position: relative;
  padding: 45px 0 15px 0;
}

.experience .timeline {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.experience .timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #EF233C;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.experience .timeline .timeline-item {
  position: relative;
  background: inherit;
  width: 50%;
  margin-bottom: 30px;
}

.experience .timeline .timeline-item.left {
  left: 0;
  padding-right: 30px;
}

.experience .timeline .timeline-item.right {
  left: 50%;
  padding-left: 30px;
}

.experience .timeline .timeline-item::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 48px;
  right: -8px;
  background: #ffffff;
  border: 2px solid #EF233C;
  border-radius: 16px;
  z-index: 0;
}

.experience .timeline .timeline-item.right::after {
  left: -8px;
}

.experience .timeline .timeline-item::before {
content: '';
position: absolute;
width: 0;
height: 0;
top: 46px;
right: 10px;
z-index: 0;
border: 10px solid;
border-color: transparent transparent transparent #dddddd;
}

.experience .timeline .timeline-item.right::before {
left: 10px;
border-color: transparent #dddddd transparent transparent;
}

.experience .timeline .timeline-date {
  position: absolute;
  width: 100%;
  top: 44px;
  font-size: 16px;
  font-weight: 600;
  color: #EF233C;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.experience .timeline .timeline-item.left .timeline-date {
  text-align: left;
  left: calc(100% + 55px);
}

.experience .timeline .timeline-item.right .timeline-date {
  text-align: right;
  right: calc(100% + 55px);
}

.experience .timeline .timeline-text {
  padding: 30px;
  background: #ffffff;
  position: relative;
  border-right: 5px solid #dddddd;
  box-shadow: 0 0 60px rgba(0, 0, 0, .08);
}

.experience .timeline .timeline-item.right .timeline-text {
  border-right: none;
  border-left: 5px solid #dddddd;
}

.experience .timeline .timeline-text h2 {
  margin: 0 0 5px 0;
  font-size: 22px;
  font-weight: 600;
}

.experience .timeline .timeline-text h4 {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

.experience .timeline .timeline-text p {
  margin: 0;
  font-size: 16px;
}

@media (max-width: 767.98px) {
  .experience .timeline::after {
      left: 8px;
  }

  .experience .timeline .timeline-item {
      width: 100%;
      padding-left: 38px;
  }
  
  .experience .timeline .timeline-item.left {
      padding-right: 0;
  }
  
  .experience .timeline .timeline-item.right {
      left: 0%;
      padding-left: 38px;
  }

  .experience .timeline .timeline-item.left::after, 
  .experience .timeline .timeline-item.right::after {
      left: 0;
  }
  
  .experience .timeline .timeline-item.left::before,
  .experience .timeline .timeline-item.right::before {
      left: 18px;
      border-color: transparent #dddddd transparent transparent;
  }
  
  .experience .timeline .timeline-item.left .timeline-date,
  .experience .timeline .timeline-item.right .timeline-date {
      position: relative;
      top: 0;
      right: auto;
      left: 0;
      text-align: left;
      margin-bottom: 10px;
  }
  
  .experience .timeline .timeline-item.left .timeline-text,
  .experience .timeline .timeline-item.right .timeline-text {
      border-right: none;
      border-left: 5px solid #dddddd;
  }
}
.conta{
  background-color: #f1f1f1;
}

.section-header {
  position: relative;
  margin-bottom: 45px;
}

.section-header p {
  display: inline-block;
  margin: 0 30px;
  margin-bottom: 10px;
  padding-left: 15px;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* background: #ffffff; */
  color: #fff;
}

.section-header p::before {
  position: absolute;
  content: "";
  height: 3px;
  top: 11px;
  right: 0;
  left: -30px;
  background: #EF233C;
  z-index: -1;
}

.section-header p::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  top: 11px;
  left: 3px;
  background: #EF233C;
  z-index: 1;
}

.section-header h2 {
  margin: 0;
  position: relative;
  font-size: 45px;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 767.98px) {
  .section-header h2 {
      font-size: 30px;
  }
}
.container{
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}