@import "../../assets/styles/font.css";
body {
  /* background: linear-gradient(180deg,#382653,#6681c5); */
  background-color: #070511 !important;
  overflow-x: hidden;
}
.aic {
  display: flex;
  align-items: center;
}
.jcsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  position: fixed;
  z-index: 1100;
  top: 0;
  left: auto;
  right: 0;
  display: flex;
  align-items: center;
  height: 64px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  font-weight: 400;
  width: 100%;
  /* background-color: rgba(85,71,173,0.6); */
  background-color: #070511;
  border-radius: 0;
  line-height: 64px;
}
.headerTitle {
  display: flex;
  align-items: center;
  height: 64px;
}
.headerCon {
  display: flex;
  align-items: center;
  /* width: 1200px; */
  width: 100%;
  line-height: 64px;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 48px;
}
.headerImg {
  font-family: "PingFang SC";
  margin-left: 48px;
  height: 36px;
  /* width: 100px; */
  color: #fff;
  font-size: 24px;
  line-height: 31px;
  cursor: pointer;
}
.headerTitle :nth-child(1).headerImg {
  display: flex;
  align-items: center;
  margin-left: 0;
  min-width: 165px;
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}
.headerTitle :nth-child(2).headerImg {
  background: linear-gradient(
      360deg,
      rgba(255, 171, 46, 0.93) 0%,
      rgba(255, 255, 255, 0) 90.91%
    ),
    linear-gradient(90deg, #ff2171 0%, #9d21ff 47.4%, #3321ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 19px;
  line-height: 29px;
  width: 59px;
  height: 29px;
  font-family: "PingFang SC";
  font-style: normal;
  font-weight: 600;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  align-items: center;
}
.headerTitle :nth-child(3).headerImg {
  width: 89px;
  height: 29px;

  /* 19px / Semibold */

  font-family: "PingFang SC";
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 29px;
  /* identical to box height, or 153% */

  /* 中性色/文字&图标Text/White/1-正文标题 */

  color: rgba(255, 255, 255, 0.9);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.headerTitle :nth-child(4).headerImg {
  width: 89px;
  height: 29px;

  /* 19px / Semibold */

  font-family: "PingFang SC";
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 29px;
  /* identical to box height, or 153% */

  /* 中性色/文字&图标Text/White/1-正文标题 */

  color: rgba(255, 255, 255, 0.9);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.headerDocs {
  /* margin-left: 36px; */
  color: #ffffff;
  border-radius: 8px;
  border: 1.5px solid rgba(0, 0, 0, 0.4);
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 8px;
  font-size: 13px;
  min-width: 64px;
  height: 36px;
  line-height: 33px;
}
.headerDocs:hover {
  cursor: pointer;
}
.ant-popover-inner {
  border-radius: 8px !important;
}
.icon {
  width: 20px;
  height: 17.33px;
  text-align: center;
  line-height: 43px;
  margin-right: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.icon:hover {
  width: 20px;
  height: 17.33px;
  /* background: rgba(255, 255, 255, 0.9); */
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.icon1:hover {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.headerConnect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "PingFang SC";
  width: 186px;
  height: 44px;
  background: transparent;
  font-size: 15px;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  border: 1px solid #fff;
  margin-left: 32px;
}
.headerConnect::before {
  margin-left: 32px;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  border-radius: 8px;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  background: #31b13a;
  z-index:-1;
}
.headerConnect:hover::before{
  width: 186px;
}
.headerConnect:hover {
  cursor: pointer;
}

#signout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "PingFang SC";
  width: 186px;
  height: 44px;
  background: transparent;
  font-size: 15px;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  border: 1px solid #fff;
  margin-left: 32px;
}
#signout::before {
  margin-left: 32px;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  border-radius: 8px;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  background: #F84848;
  z-index:-1;
}
#signout:hover::before{
  width: 186px;
}
#signout:hover {
  cursor: pointer;
}

.headerMint:hover {
  color: #070511;
  border: none;
  cursor: pointer;
  background: linear-gradient(90deg, #9d21ff 0%, #6821ff 59.37%, #3321ff 100%);
}
.headerMint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  /* Inside auto layout */
  flex: auto;
  order: 0;
  flex-grow: 0;
  
  width: 106px;
  height: 44px;
  padding: 6px 24px;
  gap: 10px;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  margin-left: 34.38px;
  text-align: center;
  
  background: linear-gradient(
    360deg,
    rgba(255, 171, 46, 0.93) 0%,
      rgba(255, 255, 255, 0) 90.91%
      ),
  linear-gradient(90deg, #ff2171 0%, #9d21ff 47.4%, #3321ff 100%);
  border-radius: 8px;
  font-family: "PingFang SC";
  font-style: normal;
  font-size: 15px;
  transition: all 0.4s;
}

    .headerIcon {
      display: flex;
  align-items: center;
  margin: 0 8px;
}
.contentText {
  position: fixed;
  /* background-color: #fff; */
  border-radius: 8px;
  /* left: -10px; */
  top: 64px;
  color: #fff !important;
  font-size: 14px;
  font-family: Inter, sans-serif;
  padding: 8px;
  cursor: pointer;
  background-color: #141414 !important;
}
.hangover {
  font-size: 15px;
  font-weight: 400;
  padding: 3px 9px;
  font-family: PingFang SC;
}
.hangover:hover {
  padding: 3px 9px;
  border-radius: 8px;
  background-color: #2e2e2e;
}
.connectImg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 18px;
}
.connectText {
  /* margin-top: 36px; */
  display: flex;
  align-items: center;
  height: 90px;
  line-height: 90px;
  padding: 0 32px;
}
.connectText div {
  font-size: 24px;
  font-weight: 700;
  color: rgb(12, 12, 13);
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
  overflow: hidden;
  /* opacity: 0; */
}
.conenctShow {
  position: fixed;
  top: 20%;
  left: calc(50% - 160px);
  height: 180px;
  width: 320px;
  border-radius: 8px;
  background-color: #fff;
  z-index: 100;
}
.disConnect {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 8px;
  top: 38px;
  left: 32px;
  width: 110px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  cursor: pointer;
}
/* 
  中间
*/
.world {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  /* height: 100vh; */
}
.center {
  /* margin-top: -64px; */
  position: relative;
}
.introduction {
  margin-left: 50;
  font-weight: 400;
  font-family: Inter, sans-serif;
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  line-height: 1.5;
  width: 480px;
  word-wrap: break-word;
}
.info1 {
  /* text */

  width: 456px;

  /* 21px/Regular */

  font-family: "PingFang SC";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 31px;
  /* or 148% */

  /* 中性色/文字&图标Text/White/1-正文标题 */

  color: rgba(255, 255, 255, 0.9);

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.introductionText {
  width: 456px;
  height: 40px;
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  margin-bottom: 8px;
  margin-left: 50;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.info {
  margin: 0 auto;
  width: 888px;
  font-weight: 400;
  font-size: 21px;
  line-height: 31px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}
.centerUfo1 {
  padding-top: 200px;
}
.centerUfo {
  height: 100vh;
  padding-top: 200px;
}
.textStye {
  margin: 0 auto 0;
  width: 888px;
  height: 59px;
  font-size: 46px;
  line-height: 59px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: "Audiowide";
  flex: none;
  order: 0;
  flex-grow: 0;
}
.logoText {
  font-weight: 400;
  color: #fff;
  line-height: 186px;
  font-size: 176px;
  font-family: "Audiowide";
  text-align: center;
  width: 100%;
  user-select: none;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.ufo {
  width: 530px;
  height: 720px;
  margin-left: 100px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.logo {
  position: absolute;
  top: 26%;
  left: calc(50% - 600px);
  /* background-color: #fff; */
  /* width: 1200px; */
}
.logo img {
  width: 100%;
}
.centerText {
  width: 757px;
  height: 62px;
  font-weight: 400;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.9);
  font-size: 21px;
  line-height: 31px;
  width: 65%;
  text-align: center;
  user-select: none;
  font-family: "PingFang SC";
  flex: none;
  order: 1;
  flex-grow: 0;
}
/* 
  脚步的css
*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 1200px;
  /* height: 100vh; */
  box-sizing: border-box;
  padding-top: 150px;
}
.footerFir {
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  opacity: 0.75;
  line-height: 1.57;
  /* margin-top: 8px; */
  margin-bottom: 32px;
  padding-top: 100px;
}
.footerSec {
  margin: 0;
  font-family: Audiowide;
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0px 2px #2e2731;
  line-height: 1.2;
  margin-bottom: 56px;
}
.footerThi {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerBox {
  position: relative;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerBox img {
  height: 246px;
  width: 246px;
  /* border-radius: 50%; */
  background-color: rgba(0, 0, 0, 0.4);
}
.footerContent {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 246px;
  height: 246px;
  left: calc(50% - 246px / 2);
  top: calc(50% - 246px / 2);
  font-weight: 600;
  font-family: "PingFang SC";
  color: rgba(255, 255, 255, 0.9);
  font-size: 17px;
  /* line-height: 1.5; */
  /* margin-bottom: 0.35em; */
  text-align: left;
  align-items: flex-end;
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(32px);
}
.footerContentText {
  position: absolute;
  bottom: 0;
  width: 246px;
  word-wrap: break-word;
  word-break: normal;
  padding: 12px;
}
.footerUrl {
  margin: 0;
  font-family: Chalkboard, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.167;
  text-align: center;
  margin-top: 12px;
}
.footerName {
  margin: 0;
  font-family: Audiowide;
  font-size: 20px;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  opacity: 0.75;
  line-height: 1.57;
  margin: 16px 0;
  opacity: 1;
}
.footerLast {
  margin: 0 auto;
  width: 1200px;
  text-align: center;
  margin: 50px 0 16px;
  color: #fff;
}
/* 
  菜单显示
*/
.menuShow {
  position: fixed;
  top: 16%;
  left: calc(50% - 250px);
  width: 500px;
  background-color: #fff;
  padding: 24px 24px 22px;
  border-radius: 24px;
}
.menuShowIcon {
  height: 21px;
  /* width: 21px; */
}
.menuShowTitle {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  margin-left: 5px;
}
.out {
  position: absolute;
  top: -30px;
  left: 1%;
  width: 99%;
  height: 21px;
}
.close {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10000;
  background: white;
  border-radius: 26px;
  padding: 6px;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.closeIcon {
  position: relative;
  top: 7px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}
.closeLine1 {
  position: absolute;
  width: 100%;
  border: 1px solid rgb(48, 52, 59);
}
.closeLine2 {
  position: absolute;
  width: 100%;
  border: 1px solid rgb(48, 52, 59);
  transform: rotate(90deg);
}

/* deep */
.ant-tabs-large > .ant-tabs-nav .ant-tabs-tab {
  padding: 8px 24px !important;
}
.ant-popover-placement-bottom {
  position: fixed !important;
}

.walletQrcode {
  color: rgba(60, 66, 82, 0.6);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.1875em;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
.input {
  border: none;
  background: #d4d5d9;
  border-style: none;
  padding: 8px 16px;
  outline: none;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  border-radius: 8px;
  width: calc(100% - 16px);
  margin: 0;
  margin-bottom: 8px;
}
.walletTable {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.walletTableList {
  /* flex: 0.25; */
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  width: 25%;
  justify-self: center;
  flex-direction: column;
  text-decoration: none !important;
}
.walletTableImg {
  border-radius: 10px;
  height: 42px;
  margin: 0;
  width: 42px;
  background-size: cover !important;
  box-shadow: 0 4px 12px 0 rgb(37 41 46 / 25%);
}
.walletTableList div {
  color: #424952;
  font-size: 16;
  text-decoration: none !important;
  padding: 0;
  margin-top: 10px;
  font-weight: 600;
}
.footerBox {
}

/* 
  =======  wow ======
*/
.experience {
  background-color: #151515;
  position: relative;
  padding: 45px 0 15px 0;
}

.experience .timeline {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.experience .timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: #ef233c;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.experience .timeline .timeline-item {
  position: relative;
  background: inherit;
  width: 50%;
  margin-bottom: 30px;
}

.experience .timeline .timeline-item.left {
  left: 0;
  padding-right: 30px;
}

.experience .timeline .timeline-item.right {
  left: 50%;
  padding-left: 30px;
}

.experience .timeline .timeline-item::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 48px;
  right: -8px;
  background: #ffffff;
  border: 2px solid #ef233c;
  border-radius: 16px;
  z-index: 0;
}

.experience .timeline .timeline-item.right::after {
  left: -8px;
}

.experience .timeline .timeline-item::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 46px;
  right: 10px;
  z-index: 0;
  border: 10px solid;
  border-color: transparent transparent transparent #dddddd;
}

.experience .timeline .timeline-item.right::before {
  left: 10px;
  border-color: transparent #dddddd transparent transparent;
}

.experience .timeline .timeline-date {
  position: absolute;
  width: 100%;
  top: 44px;
  font-size: 16px;
  font-weight: 600;
  color: #ef233c;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.experience .timeline .timeline-item.left .timeline-date {
  text-align: left;
  left: calc(100% + 55px);
}

.experience .timeline .timeline-item.right .timeline-date {
  text-align: right;
  right: calc(100% + 55px);
}

.experience .timeline .timeline-text {
  padding: 30px;
  background: #ffffff;
  position: relative;
  border-right: 5px solid #dddddd;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.08);
}

.experience .timeline .timeline-item.right .timeline-text {
  border-right: none;
  border-left: 5px solid #dddddd;
}

.experience .timeline .timeline-text h2 {
  margin: 0 0 5px 0;
  font-size: 22px;
  font-weight: 600;
}

.experience .timeline .timeline-text h4 {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

.experience .timeline .timeline-text p {
  margin: 0;
  font-size: 16px;
}

@media (max-width: 767.98px) {
  .experience .timeline::after {
    left: 8px;
  }

  .experience .timeline .timeline-item {
    width: 100%;
    padding-left: 38px;
  }

  .experience .timeline .timeline-item.left {
    padding-right: 0;
  }

  .experience .timeline .timeline-item.right {
    left: 0%;
    padding-left: 38px;
  }

  .experience .timeline .timeline-item.left::after,
  .experience .timeline .timeline-item.right::after {
    left: 0;
  }

  .experience .timeline .timeline-item.left::before,
  .experience .timeline .timeline-item.right::before {
    left: 18px;
    border-color: transparent #dddddd transparent transparent;
  }

  .experience .timeline .timeline-item.left .timeline-date,
  .experience .timeline .timeline-item.right .timeline-date {
    position: relative;
    top: 0;
    right: auto;
    left: 0;
    text-align: left;
    margin-bottom: 10px;
  }

  .experience .timeline .timeline-item.left .timeline-text,
  .experience .timeline .timeline-item.right .timeline-text {
    border-right: none;
    border-left: 5px solid #dddddd;
  }
}
.conta {
  background-color: #f1f1f1;
}

.section-header {
  position: relative;
  margin-bottom: 45px;
}

.section-header p {
  display: inline-block;
  margin: 0 30px;
  margin-bottom: 10px;
  padding-left: 15px;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* background: #ffffff; */
  color: #fff;
}

.section-header p::before {
  position: absolute;
  content: "";
  height: 3px;
  top: 11px;
  right: 0;
  left: -30px;
  background: #ef233c;
  z-index: -1;
}

.section-header p::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  top: 11px;
  left: 3px;
  background: #ef233c;
  z-index: 1;
}

.section-header h2 {
  margin: 0;
  position: relative;
  font-size: 45px;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 767.98px) {
  .section-header h2 {
    font-size: 30px;
  }
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
